<?xml version="1.0" encoding="utf-8" ?>
<!-- LTB-Verwaltung by Leon Niklas Kelle -->
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ftpserver" value="ftp://yourserver.com/" />
		<add key="username" value="user" />
		<add key="password" value="pass" />
	</appSettings>
</configuration>
